html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-size: 100%;
    overflow-x: hidden;
    background-size: cover;
}

img {
    border: none;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.transition_all {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.text_shadow {
    color: #222222;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

#apps_container {
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 30px;
}

div.app_container {
    position: relative;
    margin-right: 50px;
    float: left;
    padding: 10px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

div.app_container:last-child {
    margin-right: 0;
}

div.app {
    float: left;
    position: relative;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px;
    opacity: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

div.app.unloaded {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

div.app.animation {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    -ms-transition: opacity 0.3s, -ms-transform 0.3s;
    -o-transition: opacity 0.3s, -o-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

div.app:hover {
    z-index: 10;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

div.app_link {
    cursor: pointer;
}

div.app1x1 {
    width: 90px;
    height: 90px;
}

div.app2x2 {
    width: 190px;
    height: 190px;
}

div.app4x2 {
    width: 390px;
    height: 190px;
}

div.app a {
    color: #FFFFFF;
}

div.app div.main {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 100%;
    -webkit-transition: top 0.4s;
    -moz-transition: top 0.4s;
    -ms-transition: top 0.4s;
    transition: top 0.4s;
}

div.app div.main {
    height: 100%;
    top: 0;
    background: no-repeat 50% 50%;
}

div.app div.app_content {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    overflow: hidden;
}

div.app div.main > span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*
Widget Theme
*/
div.app_blue,
div.app_blue div.main,
div.app_container.blue div.app,
div.app_container.blue div.app div.main {
    background-color: #0097AA;
}

div.app_orange,
div.app_orange div.main,
div.app_container.orange div.app,
div.app_container.orange div.app div.main {
    background-color: #F29500;
}

div.app_red,
div.app_red div.main,
div.app_container.red div.app,
div.app_container.red div.app div.main {
    background-color: #C23916;
}

div.app_green,
div.app_green div.main,
div.app_container.green div.app,
div.app_container.green div.app div.main {
    background-color: #94C849;
}

div.app_darkgreen,
div.app_darkgreen div.main,
div.app_container.darkgreen div.app,
div.app_container.darkgreen div.app div.main {
    background-color: #6FA014;
}

div.app_purple,
div.app_purple div.main,
div.app_container.purple div.app,
div.app_container.purple div.app div.main {
    background-color: #91009B;
}

div.app_darkred,
div.app_darkred div.main,
div.app_container.darkred div.app,
div.app_container.darkred div.app div.main {
    background-color: #BE213E;
}

div.app_darkblue,
div.app_darkblue div.main,
div.app_container.darkblue div.app,
div.app_container.darkblue div.app div.main {
    background-color: #3C7780;
}

div.app_yellow,
div.app_yellow div.main,
div.app_container.yellow div.app,
div.app_container.yellow div.app div.main {
    background-color: #D9B700;
}

div.app_grey,
div.app_grey div.main,
div.app_container.grey div.app,
div.app_container.grey div.app div.main {
    background-color: #4C4C4C;
}

@media screen and (max-height: 680px) {
    div.app1x1 {
        width: 65px;
        height: 65px;
    }

    div.app2x2 {
        width: 140px;
        height: 140px;
    }

    div.app4x2 {
        width: 290px;
        height: 140px;
    }
}
