/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/storage/views/*
app/storage/sessions/*
app/storage/meta/*
app/storage/logs/*.log
app/storage/cache/*
.idea/*